name: Node continuous Integration template

env:
  token: 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

on: push

jobs:
  deploy-release:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"
      - name: install dependencies
        run: npm ci
      - name: inject secrets
        run: |
          echo MY_SECRET=${{ secrets.MY_SECRET }} >> .env.secrets
      - name: show configs and secrets (debugging) # for debugging, will replace injected values by ***
        run: cat .env*
      - name: build
        run: npm run build
      - name: show file tree (debugging)
        run: ls -alR -I .git -I node_modules -I .vscode -I .github
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{env.token}}
          release_branches: master
          # custom_tag: 0.0.2
